{% extends 'home/base.html' %}
{% load add_attr %}
{% block title %}HOME{% endblock %}
{% block style %}{% endblock %}

{% block home %}
    <section class="minhome" style="background-color: #000;"></section>
{% endblock %}
{% block container %}
<div class="row container">
    <div class="col-xs-12">
        <h2 class="h2 text-center">File Info ?</h2>
        {% if pcapfile %}
        <p style="text-indent: 20px;">
            File with id : {{ pcapfile.id }}, name: {{ pcapfile.file_name }}
        </p>
        {% else %}
        <p style="text-indent: 20px;">
            File not exists.
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}