<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load add_attr %}
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "home/css/register.css" %}">
</head>
<body>

<div class="container">
    {% if errors %}
    {% endif %}
    <form action="" method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">REGISTER</h2>
        <div class="text-danger form-group">{{ errors }}</div>
        <div class="form-group">
            <div>
                <label for="{{ form.user_name.id_for_label }}" class="sr-only">User:</label>
                {{ form.user_name | add_attr:"class:form-control,placeholder:User name" }}
                {{ form.user_name.errors }}
            </div>
            <div>
                <label for="{{ form.email.id_for_label }}" class="sr-only">Email:</label>
                {{ form.email | add_attr:"class:form-control,placeholder:Email" }}
                {{ form.email.errors }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}" class="sr-only">Password:</label>
                {{ form.password | add_attr:"class:form-control,placeholder:Password" }}
                {{ form.password.errors }}
            </div>
            <div>
                <label for="{{ form.re_password.id_for_label }}" class="sr-only">Re-Password:</label>
                {{ form.re_password | add_attr:"class:form-control,placeholder:Re-Password" }}
                {{ form.re_password.errors }}
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>

</body>
</html>