{% extends 'home/base.html' %}
{% load add_attr %}
{% block title %}HOME{% endblock %}
{% block style %}
<style>
input[type=file] {
    display: inline-block !important;
    right: 1px;
    top: 1px;
    height: 34px;
    opacity: 0;
    background: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.control-fileupload {
    display: block;
    border: 1px solid #d6d7d6;
    background: #FFF;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0px 10px 2px 10px;
    overflow: hidden;
    position: relative;
}
label {
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
}
</style>
{% endblock %}

{% block home %}
    <section class="minhome" style="background-color: #000;"></section>
{% endblock %}
{% block container %}
<script>
$(function() {
  $('input[type=file]').change(function(){
    var t = $(this).val();
    var labelText = 'File : ' + t.substr(12, t.length);
    $(this).prev('label').text(labelText);
  })
});
</script>

<h3 class="text-center">{{ message }}</h3>

<form action="{% url 'pcap' %}" method="post" enctype="multipart/form-data" class="container">
    {% csrf_token %}
    <h2 class="form-group text-center">Upload File</h2>
    <div class="row form-group">
        <div class="col-xs-12 col-md-8">
            <span class="control-fileupload form-group">
              <label for="fileInput">Choose a file :</label>
              <input type="file" id="file2up" name="file2up">
            </span>
        </div>
        <div class="col-xs-12 col-md-4" style="height: 36px;">
            <input type="submit" class="btn btn-info" value="Upload Image" name="submit" style="height: 100%;">
            <input type="submit" class="btn btn-info" value="Sync Database" name="syncdb" style="height: 100%;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
           <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>File name</th>
            <th>Date Uploaded</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for lf in list_files %}
        <tr>
            <td>{{ lf.id }}</td>
            <td><a href="{% url 'pcap-info' lf.id %}">{{ lf.file_name }}</a></td>
            <td>{{ lf.pub_date }}</td>
            <td>
            {% if  user_data.is_superuser %}
                <button class="btn btn-danger" name="delete_file" value="{{ lf.id }}">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            {% endif %}
            </td>
        </tr>
        {% empty %}
            <td colspan="3" class="text-center"><span>Empty!!!</span></td>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</form>

{% endblock %}